<main id="main" class="main">
    <div class="pagetitle">
      <h1>Make Transaction</h1>
    </div>
    <form class="row g-3" [formGroup]="makeTransForm" (ngSubmit)="makeTransaction()">
      <div class="col-7">
        <label>Campaign ID</label>
        <input type="number" formControlName="campaignId" class="form-control" [ngClass]="{
      'is-invalid':
        submitted && makeTransForm.controls['campaignId'].errors}" placeholder="Campaign Id" />
        <div *ngIf="submitted && makeTransForm.controls['campaignId'].errors" class="invalid-feedback">
          <div *ngIf="makeTransForm.controls['campaignId'].errors['required']">
            Campaign Id is required
          </div>
        </div>
      </div>
      <div class="col-7">
        <label>Transaction Amount</label>
        <input type="number" formControlName="amount" class="form-control" [ngClass]="{
      'is-invalid':
        submitted && makeTransForm.controls['amount'].errors}" placeholder="Transaction Amount" />
        <div *ngIf="submitted && makeTransForm.controls['amount'].errors" class="invalid-feedback">
          <div *ngIf="makeTransForm.controls['amount'].errors['required']">
            Transaction Amount is required
          </div>
        </div>
      </div>
      <div class="col-7">
        <button class="btn btn-primary w-100" type="submit">
            Make Transaction
        </button>
      </div>
    </form>
  </main>