<main id="main" class="main">
    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
            </ol>
        </nav>
    </div>
    <section class="section profile">
        <div class="row" *ngIf="data">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="assets/images/profile-img.jpg" alt="Profile" class="rounded-circle" />
                        <h2>{{ data.firstname }} {{ data.lastname }}</h2>
                        <h3>Crowd Funding Platform {{ data.userType }}</h3>
                        <div class="social-links mt-2">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                                    Overview
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                                    Edit Profile
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">About</h5>
                                <p class="small fst-italic">
                                    Sunt est soluta temporibus accusantium neque nam maiores
                                    cumque temporibus. Tempora libero non est unde veniam est qui
                                    dolor. Ut sunt iure rerum quae quisquam autem eveniet
                                    perspiciatis odit. Fuga sequi sed ea saepe at unde.
                                </p>
                                <h5 class="card-title">Profile Details</h5>
                                <div *ngFor="let item of data">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Name</div>
                                        <div class="col-lg-9 col-md-8">{{ item.name }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Phone</div>
                                        <div class="col-lg-9 col-md-8">{{ item.mobile }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Email</div>
                                        <div class="col-lg-9 col-md-8">{{ item.email }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <form [formGroup]="editForm" (ngSubmit)="updateuser()">
                                    <div class="row mb-3">
                                        <label for="Name" class="col-md-4 col-lg-3 col-form-label">Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="name" type="text" class="form-control"
                                                formControlName="name" id="name" [ngClass]="{'is-invalid':
                                                            submitted && editForm.controls['name'].errors
                                                        }" placeholder="Name" />
                                            <div *ngIf="
                                                        submitted && editForm.controls['name'].errors
                                                        " class="invalid-feedback">
                                                <div *ngIf="
                                                            editForm.controls['name'].errors['required']
                                                        ">
                                                    Name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="phone" type="text" class="form-control" formControlName="phone"
                                                id="Phone" [ngClass]="{'is-invalid':submitted && editForm.controls['phone'].errors}" placeholder="Phone number" />
                                            <div *ngIf="submitted && editForm.controls['phone'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="editForm.controls['phone'].errors['required']">
                                                    Phone number is required
                                                </div>
                                                <div *ngIf="editForm.controls['phone'].errors['pattern']">
                                                    Please provide a valid 10 digit Phone number
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" class="form-control"
                                                formControlName="email" id="Email" [ngClass]="{'is-invalid':submitted && editForm.controls['email'].errors}" placeholder="Email" />
                                            <div *ngIf="submitted && editForm.controls['email'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="editForm.controls['email'].errors['required']">
                                                    Email is required
                                                </div>
                                                <div *ngIf="editForm.controls['email'].errors['email']">
                                                    Please provide a valid email address
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">
                                            Save Changes
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>